@use "../../styles/_variables.scss" as vars;
@use "../../styles/_breakpoints.scss" as breakpoints;

.hero {
  &__container {
    position: relative;
    height: 100vh;
    background: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.4) 0%,
        rgba(0, 0, 0, 0.4) 100%
      ),
      url(/src/assets/images/hero_bg.jpeg) lightgray 50% / cover no-repeat;

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    &--text--container {
      width: 72%;
      @include breakpoints.mobile {
        width: 93vw;
      }
    }
  }
  &__title {
    color: vars.$white;
    text-align: center;
    text-shadow: 0px 0px 9px vars.$brand-shadow-text;
    font-family: Outfit;
    font-size: 56px;
    font-style: normal;
    font-weight: 800;
    line-height: 150%; /* 84px */
    text-transform: uppercase;
    margin: 0px;
    @media (max-width: 1280px) {
      font-size: 35px;
    }
  }
  &__description {
    width: 75%;
    color: vars.$white;
    text-align: center;
    font-family: Onest;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 175%; /* 35px */
    margin: 0 auto;
    @media (max-width: 1280px) {
      font-size: 18px;
    }
    @include breakpoints.mobile {
      font-size: 16px;
    }
  }
  &__stats {
    display: flex;
    padding: 10px 16px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 50px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(126px);
    width: fit-content;
    margin: 0 auto 28px auto;
    @include breakpoints.mobile {
      margin-top: 3vh;
    }
    p {
      margin: 0px;
      @include breakpoints.mobile {
        font-size: 14px;
      }
    }
    &--images-icon {
      display: flex;
      .images-icon-overlay {
        &:nth-last-child(-n + 2) {
          border: 1.5px solid rgba(255, 255, 255, 0.25);
          margin-left: -8px;
        }
        display: inline-block;
        width: 24px;
        height: 24px;
        border-radius: 50%;
      }
      @include breakpoints.mobile {
        display: none;
      }
    }
  }

  .logo {
    outline: 2px solid vars.$secondary-color;
    padding: 2px;
    border-radius: 4px;
  }
}
