@use "../../styles/variables.scss" as vars;

.accordion {
  margin-top: 20px;
  width: 100%;

  &__item {
    border-bottom: 1px solid #ddd;
    padding-bottom: 5px;
    &:last-child {
      border-bottom: none;
    }
  }

  &__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    background-color: vars.$brand-primary;
    border: none;
    width: 100%;
    text-align: left;
    font-size: 16px;
    cursor: pointer;
    margin: 1px 0;
    border-radius: 5px;
    font-family: Outfit;
    font-weight: 800;

    &-icon {
      position: relative;
      width: 12px;
      height: 12px;
      display: inline-block;
      margin-left: 10px;
      transition: transform 0.3s ease-in-out; /* Smooth transition for open/close */

      &::before,
      &::after {
        content: "";
        position: absolute;
        background-color: vars.$white; /* Use white for better visibility */
        transition: transform 0.3s ease-in-out; /* Smooth transition for open/close */
      }

      &::before {
        width: 12px;
        height: 2px;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
      }

      &::after {
        width: 2px;
        height: 12px;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
      }

      // Expanded state for the icon
      &.expanded {
        &::after {
          transform: translateX(-50%) rotate(90deg); /* Rotate vertical bar to form a minus */
        }
      }
    }
  }

  &__content {
    padding: 5px;
    background-color: #fff;
    color: vars.$black;
    transition: max-height 0.3s ease-in-out; /* Smooth open/close animation */

    &-list {
      list-style: none;
      padding: 0;
      margin: 0;

      &-item {
        padding: 5px 0;
      }
    }
  }
}
