@use "../../styles/variables" as vars;

.why-deedomi {
  text-align: center;
  padding: 2rem;
  font-family: Arial, sans-serif;
  background-color: vars.$white;

  &__title {
    font-size: 2rem;
    color: vars.$black;
    font-weight: bold;

    &--highlight {
      color: vars.$brand-primary;
    }
  }

  &__features {
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
    margin-top: 1.5rem;
  }

  &__feature {
    display: flex;
    flex: 0 1 calc(40% - 2rem);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 120px;
    padding: 1rem;
    border: 1px solid vars.$black-50;
    border-radius: 16px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: vars.$white;

    &:hover {
      transform: translateY(-4px);
      transition: all 0.3s ease-in-out;
    }
  }

  &__icon {
    width: 40px;
    height: 40px;
    margin-bottom: 0.5rem;
    background-size: contain;
    background-repeat: no-repeat;

    &--recycle {
      background-image: url("icons/recycle.png");
    }

    &--leaf {
      background-image: url("icons/leaf.png");
    }

    &--handshake {
      background-image: url("icons/handshake.png");
    }

    &--tshirt {
      background-image: url("icons/tshirt.png");
    }
  }

  &__text {
    font-size: 1rem;
    font-weight: bold;
    color: vars.$brand-400;
    text-align: center;
  }

  &__app-preview {
    margin-top: 2rem;

    img {
      max-width: 300px;
      border-radius: 12px;
    }
  }
  &__content {
    display: flex;
    justify-content: center;
  }
}
