@use "../../styles/variables" as vars;
@use "../../styles/_breakpoints.scss" as breakpoints;

.cta-app-buttons {
  margin: 36px auto;
  width: 65%;
  display: flex;
  justify-content: center;

  .cta-button {
    &:first-child {
      margin-right: 10px;
    }
    &:last-child {
      margin-left: 10px;
    }
    padding: 14px 24px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 50px;
    border: 1px solid rgba(0, 0, 0, 0.1);

    background: vars.$white;
    backdrop-filter: blur(38px);
    color: vars.$black;
    img {
      margin-right: 8px;
    }
  }
  @media (max-width: 1280px) {
    width: 70%;
  }
  @include breakpoints.mobile {
    width: 80%;
    display: inline-grid;
    .cta-button {
      a {
        display: block;
      }
      &:first-child {
        margin-right: 0px;
        margin-bottom: 10px;
      }
      &:last-child {
        margin-left: 0px;
      }
    }
  }
}
