// Breakpoint Variables
$breakpoint-xsm: 400px; //Extra  Small devices (phones)
$breakpoint-sm: 480px; // Small devices (phones)
$breakpoint-md: 768px; // Medium devices (tablets)
$breakpoint-lg: 1024px; // Large devices (desktops)

// Mixin for Mobile Devices
@mixin mobile {
  @media (max-width: $breakpoint-md) {
    @content;
  }
}

// Mixin for Custom Breakpoints
@mixin respond-to($breakpoint) {
  @if $breakpoint == sm {
    @media (max-width: $breakpoint-sm) {
      @content;
    }
  } @else if $breakpoint == xsm {
    @media (max-width: $breakpoint-xsm) {
      @content;
    }
  } @else if $breakpoint == md {
    @media (max-width: $breakpoint-md) {
      @content;
    }
  } @else if $breakpoint == lg {
    @media (max-width: $breakpoint-lg) {
      @content;
    }
  }
}
