// Brand Colors
$brand-primary: #00d096;
$brand-text: #003027;
$brand-dark: rgba(0, 48, 39, 0.85); // 85% opacity
$brand-600: #00a477;
$brand-400: #252e2a;
$brand-50: #e8fff6;

// Black Colors
$black-600: #5d5d5d;
$black-700: #4f4f4f;
$black-800: #454545;
$black-50: #f6f6f6;
$black-400: #888888;

// Grey Colors
$grey: #f6f6f6;
$background-grey: #fcfcfc;

// Background & System
$background-primary: #ffffff;
$background-dark: #000000; // System Background/Dark Base/Primary

// Label Colors
$label-dark-primary: #ffffff; // Label Color/Dark/Primary
$label-light-primary: #000000; // Label Color/Light/Primary

// Additional Colors
$white: #ffffff;
$system-background: #000000;
