// Brand Colors
$brand-primary: #00d096;
$brand-text: #003027;
$brand-dark-o-85: rgba(0, 48, 39, 0.85); // 85% opacity
$brand-shadow-text: rgba(0, 0, 0, 0.25);
$brand-600: #00a477;
$brand-400: #252e2a;
$brand-50: #e8fff6;

// Black Colors
$black-600: #5d5d5d;
$black-700: #4f4f4f;
$black-800: #454545;
$black-50: #f6f6f6;
$black-400: #888888;

// Grey Colors
$grey: #f6f6f6;
$background-grey: #fcfcfc;

// Label Colors

// Additional Colors
$white: #ffffff;
$black: #000000;

$secondary-color: #326dd0; // For the blue outline
$background-color: #1a3b2e; // Dark green background
$text-grey-900: #101828;
