// main.scss
// Importing external fonts

@use "./_variables" as vars;
@import url("https://fonts.googleapis.com/css2?family=Onest:wght@100..900&family=Outfit:wght@100..900&display=swap");

body {
  font-family: "Onest";
  background-color: vars.$white; // Use the rgba color as background
  margin: 0px;
}

h1 {
  color: vars.$brand-primary;
}

.page {
  &__container {
    display: flex;
    flex-direction: column;
  }
}

.temporary-landing-page {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #00D096;
  text-align: center;
  flex-direction: column;
  color: '#FFFFFF';

  .text {
    text-align: center;
    font-family: Outfit;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 175%;
    text-transform: uppercase;
  }
}