@use "../../styles/variables" as vars;

.header_nav {
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 10;
  left: 0;
  right: 0;
  height: 86px;
  padding: 0 20px;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.5) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  transition: background 0.5s ease-in-out; /* Smoother transition for scrolling effect */

  &.scrolled {
    background: vars.$brand-600;
    // linear-gradient(
    //   180deg,
    //   rgba(0, 0, 0, 0.8) 0%,
    //   rgba(0, 0, 0, 0.3) 100%
    // );
  }

  .logo {
    width: 137.648px;
    height: 22px;
    display: block;
    margin-left: 72px;
    @media (max-width: 1280px) {
      margin-left: 0;
    }
  }

  .nav__list {
    display: flex;
    list-style: none;
    align-items: center;
    margin: 0;
    padding: 0;
    margin-left: 120px;

    li {
      color: vars.$white;
      font-family: Onest;
      margin-right: 30px;
      font-size: 16px;
      cursor: pointer;
      white-space: nowrap;

      a {
        color: vars.$white;
      }

      &:hover {
        text-decoration: underline;
      }

      &:last-child {
        margin-right: 0;
      }
    }

    @media (max-width: 1280px) {
      display: none;
    }
  }

  @media (max-width: 1280px) {
    justify-content: space-between;
  }
}
