@use "../../styles/variables" as vars;

.header_nav {
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 10;
  left: 0;
  right: 0;
  height: 86px;
  padding: 0 20px; /* Add some padding for spacing */
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.5) 0%,
    rgba(0, 0, 0, 0) 100%
  );

  // Logo Styling
  .logo {
    width: 137.648px;
    height: 22px;
    display: block;
    margin-left: 72px;
  }

  // Navigation List
  .nav__list {
    display: flex;
    list-style: none;
    align-items: center;
    margin: 0;
    padding: 0;
    margin-left: 120px;

    li {
      color: vars.$white;
      font-family: Onest;
      margin-right: 30px;
      font-size: 16px;
      cursor: pointer;
      white-space: nowrap;
      a {
        color: vars.$white;
      }
      &:hover {
        text-decoration: underline;
      }

      &:last-child {
        margin-right: 0; // Removes margin on the last item
      }
    }
    @media (max-width: 1280px) {
      display: none; /* Hide for smaller screens */
    }
  }
  @media (max-width: 1280px) {
    justify-content: space-between; /* Ensure elements spread out */
  }
}
